<div class="wrapper">
  <mat-card class="user-detail-header">
    <div class="user-profile">
      <img src="img/supermario.jpg" alt="" />
      <div class="user-details">
        <h3>Max Muster</h3>
        <span>mailATmail.com</span>
      </div>
    </div>
  </mat-card>


  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      street <br />
      mustercity
    </mat-card-content>
  </mat-card>
</div>
